amplify/backend/custom/stepfunctions/stepfunctions-cloudformation-template.json
{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Parameters": {
    "env": {
      "Type": "String"
    },
    "functionteamStatusArn": {
      "Type": "String",
      "Description": "Input parameter describing Arn attribute for function/teamStatus resource"
    },
    "functionteamNotificationsArn": {
      "Type": "String",
      "Description": "Input parameter describing Arn attribute for function/teamNotifications resource"
    }
  },
  "Resources": {
    "GrantStateMachine": {
      "Type": "AWS::StepFunctions::StateMachine",
      "Properties": {
        "StateMachineName": {
          "Fn::Join": [
            "-",
            [
              "TEAM-Grant-SM",
              {
                "Ref": "env"
              }
            ]
          ]
        },
        "Definition": {
          "Comment": "Temporary Elevated Access Management - Grant state machine",
          "StartAt": "Grant Permission",
          "States": {
            "DynamoDB UpdateStartTime": {
              "Next": "Grant Error?",
              "Parameters": {
                "ExpressionAttributeValues": {
                  ":time": {
                    "S.$": "$$.State.EnteredTime"
                  }
                },
                "Key": {
                  "id": {
                    "S.$": "$.id"
                  }
                },
                "TableName.$": "$.requests_table",
                "UpdateExpression": "SET startTime = :time"
              },
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "ResultPath": "$.lastTaskResult",
              "Type": "Task"
            },
            "Grant Error?": {
              "Choices": [
                {
                  "IsPresent": true,
                  "Next": "Notify Error",
                  "Variable": "$.statusError"
                }
              ],
              "Default": "Notify Started",
              "Type": "Choice"
            },
            "Grant Permission": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Update Request Status - in progress",
                  "ResultPath": "$.statusError"
                }
              ],
              "Next": "Update Request Status - in progress",
              "Parameters": {
                "InstanceArn.$": "$.instanceARN",
                "PermissionSetArn.$": "$.roleId",
                "PrincipalId.$": "$.userId",
                "PrincipalType": "USER",
                "TargetId.$": "$.accountId",
                "TargetType": "AWS_ACCOUNT"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssoadmin:createAccountAssignment",
              "ResultPath": "$.grant",
              "Retry": [
                {
                  "ErrorEquals": ["SsoAdmin.ThrottlingException", "ThrottlingException", "ServiceUnavailable", "InternalServerError"],
                  "IntervalSeconds": 3,
                  "BackoffRate": 2,
                  "MaxAttempts": 5
                }
              ],
              "Type": "Task"
            },
            "Notify Error": {
              "End": true,
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Notify Started": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Wait",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "Wait",
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Revoke Permission": {
              "End": true,
              "Parameters": {
                "Input.$": "$",
                "StateMachineArn.$": "$.revoke_sm"
              },
              "Resource": "arn:aws:states:::states:startExecution",
              "Type": "Task"
            },
            "Update Request Status - in progress": {
              "Next": "DynamoDB UpdateStartTime",
              "Parameters": {
                "FunctionName.$": "$.fn_teamstatus_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Wait": {
              "Next": "Revoke Permission",
              "SecondsPath": "$.duration",
              "Type": "Wait"
            }
          }
        },
        "RoleArn": {
          "Fn::GetAtt": ["TEAMGrantSMRole", "Arn"]
        },
        "LoggingConfiguration": {
          "Destinations": [
            {
              "CloudWatchLogsLogGroup": {
                "LogGroupArn": {
                  "Fn::GetAtt": ["TEAMStateMachineLogGroup", "Arn"]
                }
              }
            }
          ],
          "IncludeExecutionData": true,
          "Level": "ALL"
        },
        "TracingConfiguration": {
          "Enabled": true
        }
      }
    },
    "ScheduleStateMachine": {
      "Type": "AWS::StepFunctions::StateMachine",
      "Properties": {
        "StateMachineName": {
          "Fn::Join": [
            "-",
            [
              "TEAM-Schedule-SM",
              {
                "Ref": "env"
              }
            ]
          ]
        },
        "Definition": {
          "Comment": "Temporary Elevated Access Management - Schedule state machine",
          "StartAt": "Update Request Status - scheduled",
          "States": {
            "DynamoDB GetStatus": {
              "Next": "Scheduled?",
              "Parameters": {
                "Key": {
                  "id": {
                    "S.$": "$.id"
                  }
                },
                "TableName.$": "$.requests_table"
              },
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "ResultPath": "$.result",
              "Type": "Task"
            },
            "Grant Permission": {
              "End": true,
              "Parameters": {
                "Input.$": "$",
                "StateMachineArn.$": "$.grant_sm"
              },
              "Resource": "arn:aws:states:::states:startExecution",
              "Type": "Task"
            },
            "Notify Requester Scheduled": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Schedule",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "Schedule",
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Pass": {
              "End": true,
              "Type": "Pass"
            },
            "Schedule": {
              "Next": "DynamoDB GetStatus",
              "TimestampPath": "$.startTime",
              "Type": "Wait"
            },
            "Scheduled?": {
              "Choices": [
                {
                  "Next": "Grant Permission",
                  "StringEquals": "scheduled",
                  "Variable": "$.result.Item.status.S"
                }
              ],
              "Default": "Pass",
              "Type": "Choice"
            },
            "Update Request Status - scheduled": {
              "Next": "Notify Requester Scheduled",
              "Parameters": {
                "FunctionName.$": "$.fn_teamstatus_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            }
          }
        },
        "RoleArn": {
          "Fn::GetAtt": ["TEAMScheduleSMRole", "Arn"]
        },
        "LoggingConfiguration": {
          "Destinations": [
            {
              "CloudWatchLogsLogGroup": {
                "LogGroupArn": {
                  "Fn::GetAtt": ["TEAMStateMachineLogGroup", "Arn"]
                }
              }
            }
          ],
          "IncludeExecutionData": true,
          "Level": "ALL"
        },
        "TracingConfiguration": {
          "Enabled": true
        }
      }
    },
    "RejectStateMachine": {
      "Type": "AWS::StepFunctions::StateMachine",
      "Properties": {
        "StateMachineName": {
          "Fn::Join": [
            "-",
            [
              "TEAM-Reject-SM",
              {
                "Ref": "env"
              }
            ]
          ]
        },
        "Definition": {
          "Comment": "Temporary Elevated Access Management - Reject state machine",
          "StartAt": "Status?",
          "States": {
            "Notify Requester Cancelled": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Success",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "Success",
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Notify Requester Rejected": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Success",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "Success",
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Status?": {
              "Choices": [
                {
                  "Next": "Notify Requester Cancelled",
                  "StringEquals": "cancelled",
                  "Variable": "$.status"
                },
                {
                  "Next": "Notify Requester Rejected",
                  "StringEquals": "rejected",
                  "Variable": "$.status"
                }
              ],
              "Type": "Choice"
            },
            "Success": {
              "Type": "Succeed"
            }
          }
        },
        "RoleArn": {
          "Fn::GetAtt": ["TEAMRejectSMRole", "Arn"]
        },
        "LoggingConfiguration": {
          "Destinations": [
            {
              "CloudWatchLogsLogGroup": {
                "LogGroupArn": {
                  "Fn::GetAtt": ["TEAMStateMachineLogGroup", "Arn"]
                }
              }
            }
          ],
          "IncludeExecutionData": true,
          "Level": "ALL"
        },
        "TracingConfiguration": {
          "Enabled": true
        }
      }
    },
    "RevokeStateMachine": {
      "Type": "AWS::StepFunctions::StateMachine",
      "Properties": {
        "StateMachineName": {
          "Fn::Join": [
            "-",
            [
              "TEAM-Revoke-SM",
              {
                "Ref": "env"
              }
            ]
          ]
        },
        "Definition": {
          "Comment": "Temporary Elevated Access Management - Revoke state machine",
          "StartAt": "DynamoDB GetStatus",
          "States": {
            "DynamoDB GetStatus": {
              "Next": "Revoked?",
              "Parameters": {
                "Key": {
                  "id": {
                    "S.$": "$.id"
                  }
                },
                "TableName.$": "$.requests_table"
              },
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "ResultPath": "$.data",
              "Type": "Task"
            },
            "DynamoDB Update EndTime": {
              "End": true,
              "Parameters": {
                "ExpressionAttributeValues": {
                  ":time": {
                    "S.$": "$$.State.EnteredTime"
                  }
                },
                "Key": {
                  "id": {
                    "S.$": "$.id"
                  }
                },
                "TableName.$": "$.requests_table",
                "UpdateExpression": "SET endTime = :time"
              },
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Type": "Task"
            },
            "Notify Error": {
              "End": true,
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Notify Requester Session Ended": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Revoked || Ended ?",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "Revoked || Ended ?",
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Pass": {
              "End": true,
              "Type": "Pass"
            },
            "Revoke Error?": {
              "Choices": [
                {
                  "IsPresent": true,
                  "Next": "Notify Error",
                  "Variable": "$.statusError"
                }
              ],
              "Default": "DynamoDB Update EndTime",
              "Type": "Choice"
            },
            "Revoke Permission": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Update Request Status",
                  "ResultPath": "$.statusError"
                }
              ],
              "Next": "Notify Requester Session Ended",
              "Parameters": {
                "InstanceArn.$": "$.instanceARN",
                "PermissionSetArn.$": "$.roleId",
                "PrincipalId.$": "$.userId",
                "PrincipalType": "USER",
                "TargetId.$": "$.accountId",
                "TargetType": "AWS_ACCOUNT"
              },
              "Resource": "arn:aws:states:::aws-sdk:ssoadmin:deleteAccountAssignment",
              "ResultPath": "$.revoke",
              "Retry": [
                {
                  "ErrorEquals": ["SsoAdmin.ThrottlingException", "ThrottlingException", "ServiceUnavailable", "InternalServerError"],
                  "IntervalSeconds": 3,
                  "BackoffRate": 2,
                  "MaxAttempts": 5
                }
              ],
              "Type": "Task"
            },
            "Revoked || Ended ?": {
              "Choices": [
                {
                  "Next": "DynamoDB Update EndTime",
                  "StringEquals": "revoked",
                  "Variable": "$.data.Item.status.S"
                }
              ],
              "Default": "Update Request Status",
              "Type": "Choice"
            },
            "Revoked?": {
              "Choices": [
                {
                  "And": [
                    {
                      "StringEquals": "revoked",
                      "Variable": "$.data.Item.status.S "
                    },
                    {
                      "IsPresent": true,
                      "Variable": "$.result"
                    }
                  ],
                  "Next": "Pass"
                }
              ],
              "Default": "Revoke Permission",
              "Type": "Choice"
            },
            "Update Request Status": {
              "Next": "Revoke Error?",
              "Parameters": {
                "FunctionName.$": "$.fn_teamstatus_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            }
          }
        },
        "RoleArn": {
          "Fn::GetAtt": ["TEAMRevokeSMRole", "Arn"]
        },
        "LoggingConfiguration": {
          "Destinations": [
            {
              "CloudWatchLogsLogGroup": {
                "LogGroupArn": {
                  "Fn::GetAtt": ["TEAMStateMachineLogGroup", "Arn"]
                }
              }
            }
          ],
          "IncludeExecutionData": true,
          "Level": "ALL"
        },
        "TracingConfiguration": {
          "Enabled": true
        }
      }
    },
    "ApprovalStateMachine": {
      "Type": "AWS::StepFunctions::StateMachine",
      "Properties": {
        "StateMachineName": {
          "Fn::Join": [
            "-",
            [
              "TEAM-Approval-SM",
              {
                "Ref": "env"
              }
            ]
          ]
        },
        "Definition": {
          "Comment": "Temporary Elevated Access Management -  Approval state machine",
          "StartAt": "Notify Approvers Pending",
          "States": {
            "DynamoDB GetStatus": {
              "Next": "Pending?",
              "Parameters": {
                "Key": {
                  "id": {
                    "S.$": "$.id"
                  }
                },
                "TableName.$": "$.requests_table"
              },
              "Resource": "arn:aws:states:::dynamodb:getItem",
              "ResultPath": "$.result",
              "Type": "Task"
            },
            "Notify Approvers Pending": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Wait",
                  "ResultPath": "$.error"
                }
              ],
              "Next": "Wait",
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Type": "Task"
            },
            "Notify Requester Expired": {
              "Catch": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "Next": "Pass",
                  "ResultPath": "$.error"
                }
              ],
              "End": true,
              "Parameters": {
                "FunctionName.$": "$.fn_teamnotifications_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.lastTaskResult",
              "Type": "Task"
            },
            "Pass": {
              "End": true,
              "Type": "Pass"
            },
            "Pending?": {
              "Choices": [
                {
                  "Next": "Update Request Status",
                  "StringEquals": "pending",
                  "Variable": "$.result.Item.status.S"
                }
              ],
              "Default": "Pass",
              "Type": "Choice"
            },
            "Update Request Status": {
              "Next": "Notify Requester Expired",
              "Parameters": {
                "FunctionName.$": "$.fn_teamstatus_arn",
                "Payload.$": "$"
              },
              "Resource": "arn:aws:states:::lambda:invoke",
              "ResultPath": "$.Payload",
              "Retry": [
                {
                  "BackoffRate": 2,
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 2,
                  "MaxAttempts": 6
                }
              ],
              "Type": "Task"
            },
            "Wait": {
              "Next": "DynamoDB GetStatus",
              "SecondsPath": "$.expire",
              "Type": "Wait"
            }
          }
        },
        "RoleArn": {
          "Fn::GetAtt": ["TEAMApproveSMRole", "Arn"]
        },
        "LoggingConfiguration": {
          "Destinations": [
            {
              "CloudWatchLogsLogGroup": {
                "LogGroupArn": {
                  "Fn::GetAtt": ["TEAMStateMachineLogGroup", "Arn"]
                }
              }
            }
          ],
          "IncludeExecutionData": true,
          "Level": "ALL"
        },
        "TracingConfiguration": {
          "Enabled": true
        }
      }
    },
    "TEAMApproveSMRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": ["states.amazonaws.com"]
              },
              "Action": ["sts:AssumeRole"]
            }
          ]
        },
        "Path": "/",
        "Policies": [
          {
            "PolicyName": "TEAMStepFunctionRolePolicy1",
            "PolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "logs:CreateLogDelivery",
                    "logs:GetLogDelivery",
                    "logs:UpdateLogDelivery",
                    "logs:DeleteLogDelivery",
                    "logs:ListLogDeliveries",
                    "logs:PutResourcePolicy",
                    "logs:DescribeResourcePolicies",
                    "logs:DescribeLogGroups"
                  ],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": "ses:SendEmail",
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": "sns:Publish",
                  "Resource": {
                    "Fn::ImportValue": "NotificationTopicArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamNotificationsArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["dynamodb:UpdateItem", "dynamodb:GetItem"],
                  "Resource": {
                    "Fn::Sub": "arn:${AWS::Partition}:dynamodb:${AWS::Region}:${AWS::AccountId}:table/requests*"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamStatusArn"
                  }
                }
              ]
            }
          }
        ]
      }
    },
    "TEAMScheduleSMRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": ["states.amazonaws.com"]
              },
              "Action": ["sts:AssumeRole"]
            }
          ]
        },
        "Path": "/",
        "Policies": [
          {
            "PolicyName": "TEAMStepFunctionRolePolicy1",
            "PolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "logs:CreateLogDelivery",
                    "logs:GetLogDelivery",
                    "logs:UpdateLogDelivery",
                    "logs:DeleteLogDelivery",
                    "logs:ListLogDeliveries",
                    "logs:PutResourcePolicy",
                    "logs:DescribeResourcePolicies",
                    "logs:DescribeLogGroups"
                  ],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": [
                    "events:PutTargets",
                    "events:PutRule",
                    "events:DescribeRule"
                  ],
                  "Resource": [
                    {
                      "Fn::Sub": "arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule"
                    }
                  ]
                },
                {
                  "Effect": "Allow",
                  "Action": "ses:SendEmail",
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": "sns:Publish",
                  "Resource": {
                    "Fn::ImportValue": "NotificationTopicArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamNotificationsArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["dynamodb:UpdateItem", "dynamodb:GetItem"],
                  "Resource": {
                    "Fn::Sub": "arn:${AWS::Partition}:dynamodb:${AWS::Region}:${AWS::AccountId}:table/requests*"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": "states:StartExecution",
                  "Resource": {
                    "Ref": "GrantStateMachine"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamStatusArn"
                  }
                }
              ]
            }
          }
        ]
      }
    },
    "TEAMGrantSMRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": ["states.amazonaws.com"]
              },
              "Action": ["sts:AssumeRole"]
            }
          ]
        },
        "Path": "/",
        "Policies": [
          {
            "PolicyName": "TEAMStepFunctionRolePolicy1",
            "PolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "logs:CreateLogDelivery",
                    "logs:GetLogDelivery",
                    "logs:UpdateLogDelivery",
                    "logs:DeleteLogDelivery",
                    "logs:ListLogDeliveries",
                    "logs:PutResourcePolicy",
                    "logs:DescribeResourcePolicies",
                    "logs:DescribeLogGroups"
                  ],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": [
                    "events:PutTargets",
                    "events:PutRule",
                    "events:DescribeRule"
                  ],
                  "Resource": [
                    {
                      "Fn::Sub": "arn:${AWS::Partition}:events:${AWS::Region}:${AWS::AccountId}:rule/StepFunctionsGetEventsForStepFunctionsExecutionRule"
                    }
                  ]
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamNotificationsArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["sso:CreateAccountAssignment"],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": ["dynamodb:UpdateItem"],
                  "Resource": {
                    "Fn::Sub": "arn:${AWS::Partition}:dynamodb:${AWS::Region}:${AWS::AccountId}:table/requests*"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": "states:StartExecution",
                  "Resource": {
                    "Ref": "RevokeStateMachine"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": [
                    "iam:Get*",
                    "iam:List*",
                    "iam:CreateRole",
                    "iam:DeleteRole",
                    "iam:DetachRolePolicy",
                    "iam:AttachRolePolicy",
                    "iam:PutRolePolicy"
                  ],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamStatusArn"
                  }
                }
              ]
            }
          }
        ]
      }
    },
    "TEAMRevokeSMRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": ["states.amazonaws.com"]
              },
              "Action": ["sts:AssumeRole"]
            }
          ]
        },
        "Path": "/",
        "Policies": [
          {
            "PolicyName": "TEAMStepFunctionRolePolicy1",
            "PolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "logs:CreateLogDelivery",
                    "logs:GetLogDelivery",
                    "logs:UpdateLogDelivery",
                    "logs:DeleteLogDelivery",
                    "logs:ListLogDeliveries",
                    "logs:PutResourcePolicy",
                    "logs:DescribeResourcePolicies",
                    "logs:DescribeLogGroups"
                  ],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": "ses:SendEmail",
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": "sns:Publish",
                  "Resource": {
                    "Fn::ImportValue": "NotificationTopicArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamNotificationsArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["sso:DeleteAccountAssignment"],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": ["dynamodb:UpdateItem", "dynamodb:GetItem"],
                  "Resource": {
                    "Fn::Sub": "arn:${AWS::Partition}:dynamodb:${AWS::Region}:${AWS::AccountId}:table/requests*"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": [
                    "iam:Get*",
                    "iam:List*",
                    "iam:CreateRole",
                    "iam:DeleteRole",
                    "iam:DetachRolePolicy"
                  ],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamStatusArn"
                  }
                }
              ]
            }
          }
        ]
      }
    },
    "TEAMRejectSMRole": {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version": "2012-10-17",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "Service": ["states.amazonaws.com"]
              },
              "Action": ["sts:AssumeRole"]
            }
          ]
        },
        "Path": "/",
        "Policies": [
          {
            "PolicyName": "TEAMStepFunctionRolePolicy1",
            "PolicyDocument": {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Effect": "Allow",
                  "Action": [
                    "logs:CreateLogDelivery",
                    "logs:GetLogDelivery",
                    "logs:UpdateLogDelivery",
                    "logs:DeleteLogDelivery",
                    "logs:ListLogDeliveries",
                    "logs:PutResourcePolicy",
                    "logs:DescribeResourcePolicies",
                    "logs:DescribeLogGroups"
                  ],
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": "ses:SendEmail",
                  "Resource": "*"
                },
                {
                  "Effect": "Allow",
                  "Action": "sns:Publish",
                  "Resource": {
                    "Fn::ImportValue": "NotificationTopicArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamNotificationsArn"
                  }
                },
                {
                  "Effect": "Allow",
                  "Action": ["lambda:InvokeFunction"],
                  "Resource": {
                    "Ref": "functionteamStatusArn"
                  }
                }
              ]
            }
          }
        ]
      }
    },
    "TEAMStateMachineLogGroup": {
      "Type": "AWS::Logs::LogGroup",
      "Properties": {
        "LogGroupName": {
          "Fn::Sub": "/aws/stepfunction/team-step-function/${env}"
        },
        "KmsKeyId": {
          "Fn::GetAtt": ["LogGroupKey", "Arn"]
        },
        "RetentionInDays": 14
      }
    },
    "LogGroupKey": {
      "Type": "AWS::KMS::Key",
      "Properties": {
        "Description": "TEAM Stepfunction CloudwatchLog Key",
        "EnableKeyRotation": true,
        "PendingWindowInDays": 20,
        "KeyPolicy": {
          "Version": "2012-10-17",
          "Id": "key-default-1",
          "Statement": [
            {
              "Effect": "Allow",
              "Principal": {
                "AWS": {
                  "Fn::Sub": "arn:${AWS::Partition}:iam::${AWS::AccountId}:root"
                }
              },
              "Action": "kms:*",
              "Resource": "*"
            },
            {
              "Effect": "Allow",
              "Principal": {
                "Service": {
                  "Fn::Sub": "logs.${AWS::Region}.amazonaws.com"
                }
              },
              "Action": [
                "kms:Encrypt*",
                "kms:Decrypt*",
                "kms:ReEncrypt*",
                "kms:GenerateDataKey*",
                "kms:Describe*"
              ],
              "Resource": "*",
              "Condition": {
                "ArnEquals": {
                  "kms:EncryptionContext:aws:logs:arn": {
                    "Fn::Sub": "arn:${AWS::Partition}:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/stepfunction/team-step-function/${env}"
                  }
                }
              }
            }
          ]
        }
      }
    }
  },
  "Outputs": {
    "GrantSMOutput": {
      "Description": "TEAM Grant StateMachine ",
      "Value": {
        "Ref": "GrantStateMachine"
      }
    },
    "RevokeSMOutput": {
      "Description": "TEAM Revoke StateMachine ",
      "Value": {
        "Ref": "RevokeStateMachine"
      }
    },
    "RejectSMOutput": {
      "Description": "TEAM Reject StateMachine ",
      "Value": {
        "Ref": "RejectStateMachine"
      }
    },
    "ScheduleSMOutput": {
      "Description": "TEAM Schedule StateMachine ",
      "Value": {
        "Ref": "ScheduleStateMachine"
      }
    },
    "ApprovalSMOutput": {
      "Description": "TEAM Approval StateMachine ",
      "Value": {
        "Ref": "ApprovalStateMachine"
      }
    }
  },
  "Description": "{\"createdOn\":\"Linux\",\"createdBy\":\"Amplify\",\"createdWith\":\"9.2.1\",\"stackType\":\"custom-customCloudformation\",\"metadata\":{}}"
}
